#header {
    height: 60px;
    background-image: linear-gradient(to right, #FE5D26, #370d44);
    color: #fff;
}

.container {
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

.logo {
    flex: 1;
}

.container nav ul{
    display: flex;
}

.container nav ul li{
    list-style: none;
    margin-left: 20px;
}

.container nav ul li a{
    text-decoration: none;
    color: #fff;
}

.container nav ul li a:hover{
    color: #F5BB00;
}

