.AreaLogin {
    background-color: #fff;
    padding: 30px;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 13px;
    color: #9c9c9c;
}

.organize {
    display: flex;
}

.organize a {
    color: #000;
}

.footerLogin {
    font-size: 13px;
}

.footerLogin a {
    font-weight: bold;
    margin-left: 5px;
    color: #4e129c;
    transition: 0.4s;
    cursor: pointer;
}

.footerLogin a:hover {
    color: #7d2ae8;
}